.header {
  color: #6C5B7B;
  display:inline;
  text-align: center;
}

form {
  display: flex;
  padding: 10px;
}
.wrapper {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.list-wrapper {
  max-height: 200px;
  overflow-y: auto;
}

.input {
  margin-right: 10px;
}